
h2 {
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
    text-align: center;
    margin: 50px 0 5px 0;
    font-style: italic;
}

.fork-me {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    z-index: 3;
}